/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
   background: url(https://img.gamedistribution.com/abebecfa89b646448c834963627b325d-512x512.jpeg);
   background-size: cover;
}

/* Title style */
h1 {
    color: #333;
    margin-top: 20px;
}

/* Tic-Tac-Toe board styles */
.tic-tac-toe-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
    width: 350px;
    height: 320px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    user-select: none;
}

.cell:hover {
    background-color: #f0f0f0;
}

/* Message styles */
.message {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

/* Reset button styles */
button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #555;
}

/* Center the game on smaller screens */
@media (max-width: 600px) {
    .tic-tac-toe-board {
        width: 80%;
        height: auto;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .cell {
        font-size: 20px;
    }
}
